
body
{
  background-color: #101010;
  color: aliceblue;
  text-align: center;
  margin: auto;
}

ul
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 1080px;
  margin: auto;
}

li
{
  padding: 5px;
  font-size: 2em;
  margin: auto;
}

#GameWindow
{
  display: none;
  flex-direction: row;
  align-items: center;
}
.HeroBox, .NemesisBox, .CenterBox
{
  padding: 20px;
}
.HeroBox
{
  margin-left: auto;
}
.NemesisBox
{
  margin-right: auto;
}
.CenterBox
{
  min-width: 500px;
}
#CombatLog
{
  text-align: left;
  height : 300px;
  overflow: auto;
}
